.btn{
  padding: 4px;
  margin: 0 5px;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  width: 60px;
}

.btnAll {
  background-color: darkcyan;
  color: white;
}